@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: rgb(19,23,34);
  color: white !important;
}
input{
  background-color: transparent !important;
  color: white !important;
}
.title{
  position: relative;
  padding: 35px 0px;
}
.title::after{
  content: "";
  width: 25%;
  height: 2px;
  background-color: gray;
  position: absolute;
  bottom: 100%;
  left: 0;
}
.title::before{
  content: "";
  width: 70%;
  height: 2px;
  background-color: gray;
  position: absolute;
  top: 100%;
  left: 0;
}
.movie{
  position: relative;
}
.rate{
  background-color: rgb(255, 255, 255);
  position: absolute;
  top:0%;
  right: 0%;
  
}
a{
  text-decoration: none;
  color: white;
}


.spinner:after {
  content: "";
  display: block;
  z-index: 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: linear-gradient( 420deg, transparent 50%, #CECECE 50%), linear-gradient(90deg, #CECECE 50%, transparent 50% );
  -webkit-animation: spinner 2s infinite linear;
  animation: spinner 2s infinite linear;
  position: absolute;
  top:50%;
  left:50%;
}
@-webkit-keyframes spinner {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes spinner {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.spinner{
  height: 100vh;
  position: relative;
  
 
}
.movie:hover{
  width: 102%;
}
.movie{
  transition: .2s;
}
.tv:hover{
  width: 102%;
}
.tv{
  transition: .2s;
}
.logout{
  cursor: pointer;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) orange;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(19,23,34);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid rgb(19,23,34);
}